.action-button-margin {
	margin: 4px;
}

.action-button-container {
	display: flex;
	flex-shrink: 0;
	height: 48px;
	margin-bottom: 12px;
}

.status-button {
	min-width: 135px;
}

.status-dropdown-container {
	width: 150px;
}

.status-dropdown-item {
	border-radius: 0;
	width: 100%;
}

.icon-button {
	padding: 0 10px;
}
