.card-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.card-list-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	width: 100%;
}

.card-preview {
	border: 1px solid lightgray;
	border-radius: 3px;
	color: black;
	font-size: 14px;
	min-height: 40px;
	margin-bottom: 8px;
	opacity: 0;
	padding: 10px 8px 8px;
	transform: translateY(10%);
	width: 85%;
}

@keyframes animateListItemIn {
	from {
		transform: translateY(10%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
