.flashcard-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flashcard-content-container {
	border: 1px solid lightgray;
	border-radius: 6px;
	display: flex;
	height: 340px;
	margin-bottom: 12px;
	overflow: scroll;
	width: 85%;
}

.flashcard-content {
	margin: auto;
	overflow-x: hidden;
	padding: 12px;
	word-wrap: break-word;
}

flashcard-content:active {
	background: none;
	background-color: none;
}

flashcard-content > span:active {
	background: none;
}

.editor {
	border: 1px solid #0079bf;
	box-shadow: 0 0 2px 0 #0284C6;
	height: 100%;
	line-height: 1.5;
	padding: 12px;
	resize: none;
	width: 100%;
	word-wrap: break-word;
}
