.flashcard-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.flashcard-content-container {
	border: 0.5px solid lightgray;
	border-radius: 3px;
	display: flex;
	height: 80%;
	margin-bottom: 12px;
	overflow: scroll;
	padding: 12px;
	width: 85%;
}

.flashcard-content {
	margin: auto;
}
