.app-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	height: 85vh;
	justify-content: center;
	overflow: hidden;
	padding: 62px 12px 12px;
	position: fixed;
	width: 100%;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu-item {
	margin: 8px 20px;
}

.hamburger-button {
	padding: 0 6px;
}

.menu-button {
	margin: 4px 20px;
	width: 200px;
}

.menu-button-container {
	position: absolute;
	right: 30px;
	top: 24px;
}

.menu-container {
	background: white;
	margin-top: 4px;
	overflow: hidden;
	z-index: 2;
}

.refresh-button {
	font-size: 16px;
	margin: 4px 20px;
}

.current-card-index {
	align-self: flex-end;
	color: #c4c4c4;
}

.home-card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.hamburger-menu-animation-container {
	height: 0;
	width: 0;
}

.hamburger-menu-in {
	animation-duration: 0.3s;
	animation-name: showMenu;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-fill-mode: forwards;
}

.hamburger-menu-out {
	animation-duration: 0.15s;
	animation-name: hideMenu;
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-fill-mode: forwards;
}

@keyframes showMenu {
	0% {
		width: 0;
		height: 0;
	}

	20% {
		height: 0;
	}

	90% {
		width: 240px;
	}

	100% {
		width: 240px;
		height: 386px;
	}
}

@keyframes hideMenu {
	0% {
		width: 240px;
		height: 386px;
	}

	20% {
		width: 240px;
	}

	90% {
		height: 0;
	}

	100% {
		width: 0;
		height: 0;
	}
}
