.app-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	height: 100vh;
	justify-content: center;
	max-height: 600px;
	overflow: hidden;
	padding: 62px 12px 12px;
	position: relative;
}

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu-button-container {
	position: absolute;
	right: 30px;
	top: 24px;
}

.menu-button {
	padding: 3px 3px 4px 3px;
}

.menu-container {
	background: white;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin-top: 4px;
	padding: 4px 20px;
	width: 240px;
}

.refresh-button {
	font-size: 16px;
	margin: 4px 0;
}
